<div class="columns col-12" id="content">
    <div class="column col-8">
        <p>
            I made this website so I could gather up all my different projects and show and tell about them
            with just a simple click away.
            By just looking at a short discription and a picture you can choose the project that you find
            interesting and read more about it by simply clicking the picture or the description text.
            This website is also a collection of blogs where I upload now and then what project I'm working on and
            some pictures added to it.
            At the blog page you can also comment on my blogs if there are anything that you want to say about the
            project or any thoughts you got going that you think will make it better.
        </p>
        <p>
            bla bal bla balbalbalb al lablblabalbl
        </p>
    </div>
</div>