<div class="columns col-12" id="content">
    <div class="column col-4">
        <p>
            E-mail: Pluttadig@pippi.se
        </p>
        <p>
            Phone: 123-456 78 99
        </p>
    </div>
    <div class="column col-4" id="picture">
        <img src="/static/TempPic.png" alt="Temporare picture of me.">
    </div>
</div>